* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
}

/* Signup card */
.container {
  width: 100%;
  max-width: 420px;
  background: #f3cce9;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
 box-sizing: border-box;
}

/* Inputs */
.container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* Button */
.container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}
/* mobile*/
@media (max-width: 480px) {
  .container{
width: 92%;
max-width: 92%;
transform: none;
padding: 20px;
  }
}